.admin {
  background: #9c4ca7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0e0b27
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #51428a, #5b53a1, #694880);
  /* height: 100vh; */
  margin: 0;
  position: absolute;
  width: 100%;
}

.container {
  max-width: 120rem;
  margin: 8rem auto;
  min-height: 50rem;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  background-color: #fafafa;
}

.logo-admin {
  width: 200px;
  height: 100%;
  font-size: 2rem !important;
  padding: 10px !important;
  color: #24243e !important;
}

.user-admin__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  width: 100%;
  background: #ffffff;
}

.avatar {
  width: 30px;
  height: 100%;
  /* display: flex; */
}

.admin-avatar {
  width: 100%;
}

.user-nav {
  align-self: stretch;
  display: flex;
}

.nav-img__container {
  width: 20rem;
  margin: 0 auto;
}

.nav-img {
  width: 20rem;
  height: 20rem;
  margin: 0 auto;
}

.nav-img__text {
  font-size: 1.5rem;
  text-align: center;
}

.nav-unorder {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  font-size: 1.7rem;
  margin-top: 2rem;
}

.menu {
  width: 5rem;
  border-bottom: 3px solid #24243e;
  text-align: center;
}

.menu-list {
  font-size: 1.4rem;
  margin-top: 2rem;
  font-weight: 700;
  color: #0200008a;
  cursor: pointer;
}

.menu-list:last-child {
  margin-bottom: 3rem;
}

.active {
  color: #4f3e88;
}

.main-header {
  font-family: "Lobster", cursive;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 2rem;
  color: #6b5cff;
}

.main-dish {
  padding: 2rem;
}

.main-dish__title {
  /* padding: 2rem; */
  font-size: 1.7rem;
  font-weight: 700;
  color: #333333;
  margin-bottom: 2rem;
}

.main-dish__item {
  background-color: #ffffff;
  width: 90%;
  padding: 2rem;
  border-radius: 5px;
  margin: 0 auto;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
}

.dish-item--img {
  width: 8rem;
  height: 8rem;
}

.main-dish__item--description {
  display: flex;
  align-items: center;
}

.dish-item-desc {
  margin-left: 3rem;
  margin-right: auto;
}

.dish-item-desc span {
  font-size: 1.5rem;
  font-weight: 700;
  color: #626264;
  display: block;
}

.dish-item-desc p {
  color: #7a7a7a;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.dish-item-price {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dish-item-price span {
  margin-bottom: 3rem;
  font-weight: 700;
  color: #626264;
}

.add-btn {
  background-color: #ff5c5c;
  padding: 0.5rem;
  border-radius: 100px;
  cursor: pointer;
  outline: none;
  color: #fff;
  border: none;
}

.input-group-admin {
  width: 60%;
  margin: 0 auto;
}

.input-group-admin .input-group {
  margin: 0 auto;
  width: 100%;
}
