*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

.content {
  display: flex;
}

.sidebar {
  flex: 0 0 25%;
  background-color: #ebe9e931;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  /* border-right: 1px solid #e0e0e0; */
}

.main {
  flex: 1;
  /* background-color: aqua; */
  border-left: 0.7px solid #0000;
}

.card {
  background-color: #ffff;
  width: 400px;
  margin: 80px auto;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  border-radius: 7px;
}

.ruler {
  border: 0.7px solid #dfdcdc;
  margin: 2rem 0;
}

.legal {
  font-size: 1.2rem;
}

a:visited,
a:link {
  text-decoration: none;
  color: #6054e9;
}

a p {
  margin-left: -1rem;
}
